In [ ]:
import pandas as pd

In [ ]:
# brands.csv
url = "https://drive.google.com/file/d/1QEn3skX8I7Osqna9WMsss029uv8rVcyM/view?usp=share_link"
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
brands = pd.read_csv(path)


# products.csv
url = "https://drive.google.com/file/d/1hFMT59N0NFtHpP5wgL2G6mS1KRdPDc-1/view?usp=share_link"
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
products = pd.read_csv(path)

# orders.csv
url = "https://drive.google.com/file/d/1onyD-BhwxMeWTU_VYUGqvtDJ_JTBWgNS/view?usp=share_link"
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
orders = pd.read_csv(path)

# orderlines.csv
url = "https://drive.google.com/file/d/1Hk91MoawAHSgiqoO5nHmgGWlJf1Aew2I/view?usp=share_link" 
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
orderlines = pd.read_csv(path)

df = pd.read_csv(path)

##.nunique()

In [ ]:
df.nunique()

id                  293983
id_order            204855
product_id               1
product_quantity        67
sku                   7951
unit_price           11329
date                251631
dtype: int64

In [ ]:
df["sku"].nunique()

7951

In [ ]:
df [df['id_order'] == 385921]['sku'].nunique()

19

## .unique()

In [ ]:
df [df['id_order'] == 385921] ['sku'].unique()

array(['APP2431', 'APP2348', 'APP2131', 'APP1630', 'APP1735', 'APP1216',
       'APP2092', 'APP1215', 'ELA0017', 'MIN0010', 'ELA0039', 'BEA0046',
       'BOS0034', 'BEA0071', 'ELA0029', 'APP2161', 'HOC0008', 'NOM0026',
       'NOM0014'], dtype=object)

In [ ]:
df["sku"].unique()[:10]

array(['OTT0133', 'LGE0043', 'PAR0071', 'WDT0315', 'JBL0104', 'WDT0249',
       'APP1582', 'OWC0100', 'IOT0014', 'APP0700'], dtype=object)

##AND & OR

In [ ]:
df [ (df["sku"] == "APP2431") | (df["sku"] == "APP2348")] ['id_order'].unique()

array([356101, 367146, 365600, 367892, 369246, 371034, 371564, 372411,
       373592, 373789, 373839, 374838, 375429, 379543, 379659, 382460,
       385921, 388141, 388422, 387477, 390046, 390141, 390384, 390769,
       391747, 392932, 393691, 395879, 396153, 396166, 396391, 396490,
       397600, 398669, 401302, 401429, 402265, 403996, 404504, 405316,
       405858, 407096, 408281, 408565, 409016, 409958, 410438, 410718,
       410930, 410967, 413061, 414724, 414765, 415293, 415575, 416682,
       418987, 420863, 421893, 422026, 422448, 423183, 423707, 424577,
       427124, 427826, 427940, 428694, 430641, 430899, 431344, 431577,
       433231, 433507, 435170, 435482, 435855, 436979, 437539, 440415,
       436041, 441687, 442951, 443680, 444827, 444841, 445517, 448052,
       448962, 449955, 451157, 451169, 451232, 451329, 451385, 451475,
       451814, 452283, 452324, 453317, 453679, 453991, 454050, 454408,
       455322, 456206, 456405, 456479, 458134, 458284, 460281, 460630,
       460661, 460673, 460679, 460683, 461336, 461442, 461630, 461961,
       462020, 462537, 462765, 464845, 464923, 467192, 469401, 470638,
       471098, 471579, 472971, 475095, 477529, 478779, 482495, 486206,
       486293, 488787, 489123, 489732, 490011, 491332, 491477, 492389,
       492660, 492668, 491168, 493559, 494116, 494559, 494688, 494803,
       495139, 495168, 495298, 495471, 497428, 497470, 497995, 498204,
       498400, 499080, 499384, 500064, 501175, 501230, 501518, 503314,
       503620, 507500, 508324, 509135, 511858, 512299, 513831, 515277,
       516515, 517446, 524949])

In [ ]:
df [ (df["sku"] == "APP2431") | (df["sku"] == "APP2348")] ['id_order'].nunique()

179

## Min  &  Max dates

In [ ]:
df["date"].agg(["min" , "max"])

min    2017-01-01 00:07:19
max    2018-03-14 13:58:36
Name: date, dtype: object

## .shape()

Calculates the dimensions (number of rows and columns) of the DataFrame

In [ ]:
df.shape

(293983, 7)

In [ ]:
numberrows = df.shape[0]
numbercolumns = df.shape[1]

##.size

Returns the total number of values that the DataFrame has (the number of rows multiplied by the number of columns):

In [ ]:
df.size

2057881

##.head() .tail()

In [ ]:
df.head()

,id,id_order,product_id,product_quantity,sku,unit_price,date
0,1119109,299539,0,1,OTT0133,18.99,2017-01-01 00:07:19
1,1119110,299540,0,1,LGE0043,399.00,2017-01-01 00:19:45
2,1119111,299541,0,1,PAR0071,474.05,2017-01-01 00:20:57
3,1119112,299542,0,1,WDT0315,68.39,2017-01-01 00:51:40
4,1119113,299543,0,1,JBL0104,23.74,2017-01-01 01:06:38

In [ ]:
df.tail()

,id,id_order,product_id,product_quantity,sku,unit_price,date
293978,1650199,527398,0,1,JBL0122,42.99,2018-03-14 13:57:25
293979,1650200,527399,0,1,PAC0653,141.58,2018-03-14 13:57:34
293980,1650201,527400,0,2,APP0698,9.99,2018-03-14 13:57:41
293981,1650202,527388,0,1,BEZ0204,19.99,2018-03-14 13:58:01
293982,1650203,527401,0,1,APP0927,13.99,2018-03-14 13:58:36

##.info()

Tells us about how pandas sees the data

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293983 entries, 0 to 293982
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                293983 non-null  int64
 1   id_order          293983 non-null  int64
 2   product_id        293983 non-null  int64
 3   product_quantity  293983 non-null  int64
 4   sku               293983 non-null  object
 5   unit_price        293983 non-null  object
 6   date              293983 non-null  object
dtypes: int64(4), object(3)
memory usage: 15.7+ MB

##.describe()

Gives us an overview of the descriptive statistics for the numerical columns of our DataFrame.

In [ ]:
df.describe()

                 id       id_order  product_id  product_quantity
count  2.939830e+05  293983.000000    293983.0     293983.000000
mean   1.397918e+06  419999.116544         0.0          1.121126
std    1.530096e+05   66344.486479         0.0          3.396569
min    1.119109e+06  241319.000000         0.0          1.000000
25%    1.262542e+06  362258.500000         0.0          1.000000
50%    1.406940e+06  425956.000000         0.0          1.000000
75%    1.531322e+06  478657.000000         0.0          1.000000
max    1.650203e+06  527401.000000         0.0        999.000000

##.isna()

The DataFrame.isna() method returns a boolean for each value:

True if that value is "missing" (which is represented as NaN in numpy and pandas) and False if the value is not missing:

In [ ]:
df.isna()

,id,id_order,product_id,product_quantity,sku,unit_price,date
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
293978,False,False,False,False,False,False,False
293979,False,False,False,False,False,False,False
293980,False,False,False,False,False,False,False
293981,False,False,False,False,False,False,False
293982,False,False,False,False,False,False,False

Adds up all these booleans for each column, and count how many missing values are there in the DataFrame, since True is interpreted as 1 and False as 0:

In [ ]:
df.isna().sum()

id                  0
id_order            0
product_id          0
product_quantity    0
sku                 0
unit_price          0
date                0
dtype: int64

Also returns a boolean output, but in this case just one value per row: True if that row is duplicated and False if it's not. Again, using sum() allows us to count how many True values (i.e. duplicated rows) are there in total:

In [ ]:
df.duplicated().sum()

0

##.nlargest()  &  .nsmallest()

DataFrame.nlargest(n, columns) will return the top n rows with the largest value for whatever column we specify in columns. Below, we see the rows with the largest product quantity values:

In [ ]:
df.nlargest(5, "product_quantity")

,id,id_order,product_id,product_quantity,sku,unit_price,date
53860,1228150,346221,0,999,APP1190,55.99,2017-04-14 21:50:52
68712,1254032,358747,0,999,SEV0028,19.99,2017-05-24 14:51:58
57796,1234924,349475,0,800,KIN0137,7.49,2017-04-25 09:59:00
57306,1234111,349133,0,555,APP0665,70.99,2017-04-24 10:20:13
40813,1204788,335057,0,201,THU0029,80.99,2017-03-14 15:25:53

In [ ]:
df.nsmallest(5, "product_quantity")

,id,id_order,product_id,product_quantity,sku,unit_price,date
0,1119109,299539,0,1,OTT0133,18.99,2017-01-01 00:07:19
1,1119110,299540,0,1,LGE0043,399.00,2017-01-01 00:19:45
2,1119111,299541,0,1,PAR0071,474.05,2017-01-01 00:20:57
3,1119112,299542,0,1,WDT0315,68.39,2017-01-01 00:51:40
4,1119113,299543,0,1,JBL0104,23.74,2017-01-01 01:06:38

**Attributes**: .shape, .size and .ndim, and others. They are written without parentheses and give you raw "metadata" about the DataFrame you are calling them on.

**Methods**: .head(), .describe() and .isna(), and others. They are written with parentheses and perform some sort of calculation, transformation or aggregation. A method is like a function that is tied to a specific object type.

##loc & iloc

In [ ]:
df["id_order"]

0         299539
1         299540
2         299541
3         299542
4         299543
           ...
293978    527398
293979    527399
293980    527400
293981    527388
293982    527401
Name: id_order, Length: 293983, dtype: int64

In [ ]:
df.loc[:, "id_order"]

0         299539
1         299540
2         299541
3         299542
4         299543
           ...
293978    527398
293979    527399
293980    527400
293981    527388
293982    527401
Name: id_order, Length: 293983, dtype: int64

In [ ]:
df.iloc[:, 1]

0         299539
1         299540
2         299541
3         299542
4         299543
           ...
293978    527398
293979    527399
293980    527400
293981    527388
293982    527401
Name: id_order, Length: 293983, dtype: int64

**With .loc[] and : you can select all columns between two columns you specify.**

In [ ]:
df.loc[:, "id_order":"sku"]

        id_order  product_id  product_quantity      sku
0         299539           0                 1  OTT0133
1         299540           0                 1  LGE0043
2         299541           0                 1  PAR0071
3         299542           0                 1  WDT0315
4         299543           0                 1  JBL0104
...          ...         ...               ...      ...
293978    527398           0                 1  JBL0122
293979    527399           0                 1  PAC0653
293980    527400           0                 2  APP0698
293981    527388           0                 1  BEZ0204
293982    527401           0                 1  APP0927

[293983 rows x 4 columns]

In [ ]:
df.iloc[:, [1, 4]]

        id_order      sku
0         299539  OTT0133
1         299540  LGE0043
2         299541  PAR0071
3         299542  WDT0315
4         299543  JBL0104
...          ...      ...
293978    527398  JBL0122
293979    527399  PAC0653
293980    527400  APP0698
293981    527388  BEZ0204
293982    527401  APP0927

[293983 rows x 2 columns]

In [ ]:
df.iloc[:, 1:5]

        id_order  product_id  product_quantity      sku
0         299539           0                 1  OTT0133
1         299540           0                 1  LGE0043
2         299541           0                 1  PAR0071
3         299542           0                 1  WDT0315
4         299543           0                 1  JBL0104
...          ...         ...               ...      ...
293978    527398           0                 1  JBL0122
293979    527399           0                 1  PAC0653
293980    527400           0                 2  APP0698
293981    527388           0                 1  BEZ0204
293982    527401           0                 1  APP0927

[293983 rows x 4 columns]

**Selecting a single row returns a pandas Series (a 1-dimensional object):**

In [ ]:
df.loc[0, :]

id                              1119109
id_order                         299539
product_id                            0
product_quantity                      1
sku                             OTT0133
unit_price                        18.99
date                2017-01-01 00:07:19
Name: 0, dtype: object

In [ ]:
df.loc[0:3, :]

,id,id_order,product_id,product_quantity,sku,unit_price,date
0,1119109,299539,0,1,OTT0133,18.99,2017-01-01 00:07:19
1,1119110,299540,0,1,LGE0043,399.00,2017-01-01 00:19:45
2,1119111,299541,0,1,PAR0071,474.05,2017-01-01 00:20:57
3,1119112,299542,0,1,WDT0315,68.39,2017-01-01 00:51:40

In [ ]:
df.loc[1119109:1119112, :]

Empty DataFrame
Columns: [id, id_order, product_id, product_quantity, sku, unit_price, date]
Index: []

In [ ]:
df.iloc[0:4]

,id,id_order,product_id,product_quantity,sku,unit_price,date
0,1119109,299539,0,1,OTT0133,18.99,2017-01-01 00:07:19
1,1119110,299540,0,1,LGE0043,399.00,2017-01-01 00:19:45
2,1119111,299541,0,1,PAR0071,474.05,2017-01-01 00:20:57
3,1119112,299542,0,1,WDT0315,68.39,2017-01-01 00:51:40

##.drop()

**method allows us to delete the rows or columns.**

Note: Again, if we want to directly apply the changes to the original DataFrame, we need to indicate inplace = True. Otherwise, we are getting as an output just a "view" of how the DataFrame looks like after the drop, but the original DataFrame remains unchanged.

Note: axis=1 means we want to drop a column, not a row. For rows we would use axis=0

In [ ]:
df.drop(["unit_price"], axis=1)

,id,id_order,product_id,product_quantity,sku,date
0,1119109,299539,0,1,OTT0133,2017-01-01 00:07:19
1,1119110,299540,0,1,LGE0043,2017-01-01 00:19:45
2,1119111,299541,0,1,PAR0071,2017-01-01 00:20:57
3,1119112,299542,0,1,WDT0315,2017-01-01 00:51:40
4,1119113,299543,0,1,JBL0104,2017-01-01 01:06:38
...,...,...,...,...,...,...
293978,1650199,527398,0,1,JBL0122,2018-03-14 13:57:25
293979,1650200,527399,0,1,PAC0653,2018-03-14 13:57:34
293980,1650201,527400,0,2,APP0698,2018-03-14 13:57:41
293981,1650202,527388,0,1,BEZ0204,2018-03-14 13:58:01
293982,1650203,527401,0,1,APP0927,2018-03-14 13:58:36

In [ ]:
df_50 = df.drop(["id_order", "unit_price", "date"], axis=1).query("product_quantity > 500")
df_50

            id  product_id  product_quantity      sku
53860  1228150           0               999  APP1190
57306  1234111           0               555  APP0665
57796  1234924           0               800  KIN0137
68712  1254032           0               999  SEV0028

## > 100 etc..

In [ ]:
df.loc[df["product_quantity"] > 100, :]

,id,id_order,product_id,product_quantity,sku,unit_price,date
27779,1180010,323959,0,126,ADN0039,34.99,2017-02-14 10:21:12
40813,1204788,335057,0,201,THU0029,80.99,2017-03-14 15:25:53
53860,1228150,346221,0,999,APP1190,55.99,2017-04-14 21:50:52
57306,1234111,349133,0,555,APP0665,70.99,2017-04-24 10:20:13
57796,1234924,349475,0,800,KIN0137,7.49,2017-04-25 09:59:00
68712,1254032,358747,0,999,SEV0028,19.99,2017-05-24 14:51:58
136675,1388261,417536,0,200,TRK0009,29.99,2017-10-25 15:02:39
204637,1500715,464858,0,192,APP1662,519.00,2017-12-17 15:53:04
246048,1574262,496172,0,164,EVU0013,19.99,2018-01-22 16:14:42
285492,1637611,522075,0,125,XDO0047,25.99,2018-03-06 10:07:54

##.query()

In [ ]:
df.query("product_quantity > 100")

,id,id_order,product_id,product_quantity,sku,unit_price,date
27779,1180010,323959,0,126,ADN0039,34.99,2017-02-14 10:21:12
40813,1204788,335057,0,201,THU0029,80.99,2017-03-14 15:25:53
53860,1228150,346221,0,999,APP1190,55.99,2017-04-14 21:50:52
57306,1234111,349133,0,555,APP0665,70.99,2017-04-24 10:20:13
57796,1234924,349475,0,800,KIN0137,7.49,2017-04-25 09:59:00
68712,1254032,358747,0,999,SEV0028,19.99,2017-05-24 14:51:58
136675,1388261,417536,0,200,TRK0009,29.99,2017-10-25 15:02:39
204637,1500715,464858,0,192,APP1662,519.00,2017-12-17 15:53:04
246048,1574262,496172,0,164,EVU0013,19.99,2018-01-22 16:14:42
285492,1637611,522075,0,125,XDO0047,25.99,2018-03-06 10:07:54

##.isin()

In [ ]:
df["sku"].isin(["JBL0104", "ADN0039"])

0         False
1         False
2         False
3         False
4          True
          ...
293978    False
293979    False
293980    False
293981    False
293982    False
Name: sku, Length: 293983, dtype: bool

In [ ]:
df [df["sku"] == "JBL0104"] ["unit_price"].nunique()

7

##.copy()

##.rename(columns={})

In [ ]:
df_50 = df_50.rename(columns={'product_quantity': 'quantity', 'sku': 'product_code'}).copy()
df_50

            id  product_id  quantity product_code
53860  1228150           0       999      APP1190
57306  1234111           0       555      APP0665
57796  1234924           0       800      KIN0137
68712  1254032           0       999      SEV0028

##Converting data types

In [ ]:
df["date"] = pd.to_datetime(df["date"])

In [ ]:
## orderlines["unit_price"] = pd.to_numeric(orderlines["unit_price"])

## 2 or 3 dots problem

In [ ]:
#checking
orderlines.unit_price.astype(str).str.contains("\d+\.\d+\.\d+").value_counts()

False    257814
True      36169
Name: unit_price, dtype: int64

In [ ]:
#checking
two_dot_percentage = ((orderlines.unit_price.astype(str).str.contains("\d+\.\d+\.\d+").value_counts()[1] / orderlines.shape[0])*100).round(2)
print(f"The 2 dot problem represents {two_dot_percentage}% of the rows in our DataFrame")

The 2 dot problem represents 12.3% of the rows in our DataFrame

In [ ]:
#removing all the associated rows
two_dot_order_ids_list = orderlines.loc[orderlines.unit_price.astype(str).str.contains("\d+\.\d+\.\d+"), "id_order"]
orderlines = orderlines.loc[~orderlines.id_order.isin(two_dot_order_ids_list)]

In [ ]:
orderlines.shape[0]

216250

In [ ]:
#checking
orderlines.unit_price.astype(str).str.contains("\d+\.\d+\.\d+").value_counts()

False    216250
Name: unit_price, dtype: int64

##.dt accessor (creating new date columns)

In [ ]:
df.head(1)

,id,id_order,product_id,product_quantity,sku,unit_price,date
0,1119109,299539,0,1,OTT0133,18.99,2017-01-01 00:07:19

In [ ]:
df["year"] = df["date"].dt.year
df.head(1)

,id,id_order,product_id,product_quantity,sku,unit_price,date,year
0,1119109,299539,0,1,OTT0133,18.99,2017-01-01 00:07:19,2017

In [ ]:
df["month"] = df["date"].dt.month
df["month_name"] = df["date"].dt.month_name()
df.head(1)

,id,id_order,product_id,product_quantity,sku,unit_price,date,year,month,month_name
0,1119109,299539,0,1,OTT0133,18.99,2017-01-01 00:07:19,2017,1,January

In [ ]:
df["day"] = df["date"].dt.day
df["day_name"] = df["date"].dt.day_name()
df.head(1)

,id,id_order,product_id,product_quantity,sku,unit_price,date,year,month,month_name,day,day_name
0,1119109,299539,0,1,OTT0133,18.99,2017-01-01 00:07:19,2017,1,January,1,Sunday

In [ ]:
df["weekday"] = df["date"].dt.weekday
df.head(1)

,id,id_order,product_id,product_quantity,sku,unit_price,date,year,month,month_name,day,day_name,weekday
0,1119109,299539,0,1,OTT0133,18.99,2017-01-01 00:07:19,2017,1,January,1,Sunday,6

In [ ]:
df["fulldate"] = df["date"].dt.strftime("%A, %d %b %y")
df.head(1)

,id,id_order,product_id,product_quantity,sku,unit_price,date,year,month,month_name,day,day_name,weekday,fulldate
0,1119109,299539,0,1,OTT0133,18.99,2017-01-01 00:07:19,2017,1,January,1,Sunday,6,"Sunday, 01 Jan 17"

In [ ]:
df["quarter"] = df['date'].dt.quarter

## Date range

In [ ]:
df["date"].min(), df["date"].max()

(Timestamp('2017-01-01 00:07:19'), Timestamp('2018-03-14 13:58:36'))

In [ ]:
df["date"].max() - df["date"].min()

Timedelta('437 days 13:51:17')

In [ ]:
df["date"].mean(), df["date"].median()

(Timestamp('2017-09-19 03:19:26.305779712'), Timestamp('2017-11-13 21:13:53'))

In [ ]:
df["date"].describe(datetime_is_numeric=True)

count                           293983
mean     2017-09-19 03:19:26.305779712
min                2017-01-01 00:07:19
25%         2017-06-06 16:20:34.500000
50%                2017-11-13 21:13:53
75%                2018-01-02 04:47:03
max                2018-03-14 13:58:36
Name: date, dtype: object

##between

In [ ]:
## date_filtering_df.loc[date_filtering_df["created_date"].between("2018-03-01", "2018-03-31")].head()

## creating a new column & new row

In [ ]:


# Creating a new row called "Total" with the totals of each column.
# observed_expanded.loc["Total"] = observed_expanded.sum()
# Creating a new column called "Total" with the totals of each row.
# observed_expanded["Total"] = observed_expanded["A"] + observed_expanded["B"] + observed_expanded["C"]